doctype html
html(lang="en")
    block vars
        - var title = 'Cheers Bot'
        - var heading = null
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=340")
            title #{title ? title : 'Cheers Bot'}
            link(rel="stylesheet" href=`/common.css?refresh=${refreshTime}`)
            link(rel="stylesheet" href=`/index.css?refresh=${refreshTime}`)
            script(src="https://kit.fontawesome.com/274907872e.js" crossorigin="anonymous")
            style.
                body {
                    --accent-color: #{isGirlDm ? '#50b9a2' : '#00aaff'};
                    --muted-color: #{isGirlDm ? '#2d7575' : '#006699'};
                }
    body
        main
            block header
                h1.PanelHeader
                    a(href="/")
                        img.Logo(src=(isGirlDm ? "https://static-cdn.jtvnw.net/emoticons/v1/302175577/1.0" : "/Logo.png"))
                    | &nbsp;#{heading ? heading : title ? title : 'Cheers Bot'}
            block body
            block footer
                footer
                    | &copy; 2020 <a href="http://hawk.bar/">Hawkbar</a>
                    | | <a href="/privacy">Privacy Policy</a>
                    | | <a href="/tos">Terms of Service</a>
                    if isGirlDm
                        | | Emotes with "girldm" prefix used with permission from <a href="https://twitter.com/Girl_Dm_">Girl_Dm_</a> for use with her channel only
