doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cheers Bot Overlay - #{channel}
        link(rel="stylesheet", href=`/common.css?refresh=${refreshTime}`)
        link(rel="stylesheet", href=`/overlay.css?refresh=${refreshTime}`)
        script(src="https://kit.fontawesome.com/274907872e.js" crossorigin="anonymous")
        script(src="/react.development.js")
        script(src="/react-dom.development.js")
        script.
            let CHANNEL_NAME = "#{channel}"
            let REFRESH_TIME = #{refreshTime}
        script(src=`/overlay.js?refresh=${refreshTime}`)
        style.
            body {
                --accent-color: #{isGirlDm ? '#50b9a2' : '#00aaff'};
                --muted-color: #{isGirlDm ? '#2d7575' : '#006699'};
            }
    body
        main
            #app