doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cheers Bot Overlay - #{channel}
        link(rel="stylesheet", href=`/common.css?refresh=${refreshTime}`)
        link(rel="stylesheet", href=`/overlay.css?refresh=${refreshTime}`)
        script(src="/react.development.js")
        script(src="/react-dom.development.js")
        script.
            let REFRESH_TIME = #{refreshTime}
        script(src=`/overlay.js?refresh=${refreshTime}`)
    body
        main
            #app